.history__website-link {
  text-decoration: underline;
  color: #834700;
  transition: color 0.2s linear;
}

.history__website-link:hover {
  color: #6a3900;
}

.history__website-link:active {
  color: #cab7a2;
}