.order__input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  font: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.order__input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}